@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&display=swap");
.nav-bar {
  background-color: #17010110;
  color: white !important;
}
.hero {
  top: 30vh;
  left: 12%;
  color: white;
}
.wel {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}
.front {
  font-family: "lexend";
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../img/workspace2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero span:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
.hero span:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 1.7s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
.hero span:nth-child(3) {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.about {
  top: 100vh;
  width: 100vw;
  background-color: white;
}
.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-width: 7px;
  border-color: rgb(46, 45, 45);
  border-style: solid;
  margin-left: 18%;
  margin-top: 80px;
}
.about-text {
  width: 700px;
  margin-top: 70px;
  margin-left: 50px;
  font-family: "lexend";
  font-size: 24px;
  font-weight: 400;
}
.about-text h1 {
  font-family: "lexend";
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
.skills {
  top: 183vh;
  width: 100vw;
  background-color: white;
}
.skill-in {
  margin-top: 100px;
  position: relative;
  width: 65%;
  height: 600px;
  background-color: black;
  color: white;
  border-radius: 50px;
}
.skill-title {
  transform: translateY(30px);
  font-family: "lexend";
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-top: 30px;
}
